extends layout/layout.pug

block style
    link(rel="stylesheet", href="auth.css")

block content
    .wrapper
        .auth-box
            if !login
                form(action="/auth-check", method="post")
                    .form_control
                        label(for="userName") username
                        input#userName(type="text", name="userName" placeholder="Enter your username" required)
                    .form_control
                        label(for="email") email
                        input#email(type="email", name="email" placeholder="Enter your email" required)
                    .form_control
                        label(for="password") password
                        input#password(type="password", name="password" placeholder="Enter your password" required)
                    .btn
                        button(type="submit") create
            else
                form(action="/auth-check", method="post").login_form
                    .form_control
                        label(for="userMail") username or email
                        input#userMail(type="text", name="userMail" placeholder="Enter email or username" required)
                    .form_control
                        label(for="password") password
                        input#password(type="password", name="password" placeholder="Enter password" required)
                    .btn
                        button(type="submit") auth