extends layout/layout.pug

block style
    link(rel="stylesheet", href="home.css")

block content
    -var itemList = [{name: 'ხაჭაპური', img: 'https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.rogor.ge%2Fup%2Farticles%2F28__rogor-movamzadot-imeruli-xachapuri.jpg&f=1&nofb=1'}, {name: 'ლობიანი', img: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fallwine.ge%2Fmedia%2Farticles%2FDY0JIQBXUAEnTGx.jpg&f=1&nofb=1'}, {name: 'აჯიკა', img: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpaparazzi.ge%2Fwp-content%2Fuploads%2F2020%2F05%2F10-7.jpg&f=1&nofb=1'}, {name: 'სულგუნი', img: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fagronews.ge%2Fwp-content%2Fuploads%2F2019%2F10%2FKEV02022.jpg&f=1&nofb=1'}]
    -var infoList = ['bakery', 'soups', 'creams', 'ices']
    section.item-container
        .info-tab
            for info in infoList
                .info-item
                    a(href="/") ##{info}
        .item-list
            for item in itemList
                .item(onclick='clicker("'+item+'")')
                    h1 #{item.name}
                    img(src=item.img, alt="item.name")
                    .item-info
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum rem aliquam dolorem soluta consequatur officiis ut fuga nemo esse, voluptatem similique minus ex, veritatis quae reiciendis corrupti, blanditiis expedita quod.
