.auth-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-width: 400px;
    margin: 50px auto 0;
    padding: 35px 0px;
    background-color: #ffd5af;
    border-radius: 10px;
    border: 1px solid #888870;
}

form {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

.login_form {
    height: 200px;
}

.form_control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_control label {
    text-transform: uppercase;
}

.form_control input {
    height: 30px;
    margin-top: 10px;
    background-color: #ffd5af;
    border-bottom: 3px solid #888870;
    color: #fff;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn button {
    background-color: #888870;
    outline: none;
    border: 1px solid;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}