.info-tab {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2e2;
}

.info-item {
    flex: 1;
    text-align: center;
    font-size: 24px;
    background: -webkit-linear-gradient(#330101, #0756a5, #eeb407, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-container {
    width: 100%;
    height: 100%;
}
.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    text-align: center;
    margin: 1px;
    border: 1px solid darkgray;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    transition: all 300ms ease-in;
}

.item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.item h1 {
    background-color: #ffd5af;
    color: #020202;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 65px;
    z-index: 99;
    width: 100%;
    font-size: 14px;
    line-height: 65px;
    transition: all 300ms;
}

.item-info {
    opacity: 0;
    width: 100%;
    transition: all 500ms;
    background-color: #ffd5af;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
}

.item:hover {
    width: 400px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.item:hover h1 {
    opacity: 0;
}

.item:hover .item-info {
    opacity: 0.9;
    height: 100%;
}