.logo a {
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #e3e2df;
}

input {
    outline: none;
    border: none;
}

header {
    height: 80px;
    width: 100%;
    background-color: #ffd5af;
    border-bottom: 1px solid #888870;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content > div {
    flex: 1;
}

.wrapper {
    width: 80%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}

/* search */
.search-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
}

.search-box input {
    height: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #888870;
    opacity: 0.8;
}

.search-box img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 12px;
}

.right_side {
    min-width: 200px;
    text-align: right;
}