<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="normalize.css")
        link(rel="stylesheet", href="main.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet")
        block style
    body
        header
            .header_content.wrapper
                .logo
                    a(href="/") recipes line
                .search
                    .search-box
                        img(src="./assets/search.svg", alt="search")
                        input(type="text", name="search" placeholder="search" autocomplete="off")
                .right_side
                    if !user
                        .login_box
                            a(href="/login") Login / 
                            a(href="/register") Sign Up
                    else
                        .my_page
                            a(href="/mypage") #{userName}
        block content
        script(src="./scripts/app.js")